<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="RealTimeTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="RealTimeTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
 <userSettings>
  <RealTimeTranslator.Properties.Settings>
   <setting name="RttDataDirectory" serializeAs="String">
    <value>C:\RTT_Data\</value>
   </setting>
   <setting name="Lang3In" serializeAs="String">
    <value>eng</value>
   </setting>
   <setting name="Lang2Out" serializeAs="String">
    <value>ru</value>
   </setting>
   <setting name="Threshold" serializeAs="String">
    <value>70</value>
   </setting>
   <setting name="OutFontSize" serializeAs="String">
    <value>13</value>
   </setting>
   <setting name="IsAsIts" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TrainedDataFolder" serializeAs="String">
    <value>TrainedData\</value>
   </setting>
   <setting name="IsAtIts" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoTranslateDelay" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OutBackground" serializeAs="String">
    <value>#FFFFFFFF</value>
   </setting>
   <setting name="OutForeground" serializeAs="String">
    <value>#FF000000</value>
   </setting>
  </RealTimeTranslator.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <RealTimeTranslator.Properties.Settings>
   <setting name="ImgName" serializeAs="String">
    <value>img.bmp</value>
   </setting>
   <setting name="TempFolder" serializeAs="String">
    <value>Temp\</value>
   </setting>
   <setting name="ImgPath" serializeAs="String">
    <value>img.bmp</value>
   </setting>
  </RealTimeTranslator.Properties.Settings>
 </applicationSettings>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
    </assemblyBinding>-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>